$main: $color-3;
$lighter: $color-3-l;
$lightest: $color-3-ll;
$darker: $color-3-d;
$darkest: $color-3-dd;

precipitation {
  @include plot-base-style($lightest, $lighter, $main, $darker, $darkest);
}
