doctype html
html
  head
    title Angular 2 hello
    meta(name='description' content='test')
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1.0')
    style.
      /* Initial CSS to prevent FOUC (Flash of Unstyled Content) */
      .loading {
        padding-top: 15px;
        font-size: 36px;
        font-family: Arial;
        text-align: center;
      }
  body
    app
      .loading Loading...
    script(src="/bundle.js")
