doctype html
html
  head
    base(href='/')
    title MSP Weather Contextualizer
    meta(name='description' content='test')
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    style.
      .loading {
        padding-top: 15px;
        font-size: 36px;
        font-family: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
        text-align: center;
      }
  body
    app
      .loading Loading...
    script(src='/bundle.js')
