// bootstrap overrides
$grid-gutter-width-base: 0px;
$font-family-monospace: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
$font-family-base: $font-family-monospace;
$body-bg: #fbf3e9;
$body-color: $color-1-dd;

$enable-hover-media-query: true;
