@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
.col-no-pad {
  padding-left: 0;
  padding-right: 0; }

high-low-distribution {
  font-family: "Source Code Pro", monospace; }
  high-low-distribution h3 {
    background: #AA7C39;
    margin: 0;
    padding: 5px 0 0 10px;
    color: #FFEBCE; }
  high-low-distribution .plot-background {
    fill: #AA7C39; }
  high-low-distribution .line {
    fill: none;
    stroke-width: 3.5px; }
  high-low-distribution .high {
    stroke-width: 1.5px;
    stroke: #FFEBCE; }
  high-low-distribution .low {
    stroke-width: 1.5px;
    stroke: #231500; }
  high-low-distribution .dot-high {
    stroke: #FFEBCE;
    fill: #FFEBCE; }
  high-low-distribution .dot-low {
    stroke: #231500;
    fill: #231500; }
  high-low-distribution .kde-high {
    stroke: #EDC487; }
  high-low-distribution .kde-low {
    stroke: #67410A; }
  high-low-distribution .text-high-main {
    font-size: 30px;
    fill: #FFEBCE;
    stroke: none; }
  high-low-distribution .text-low-main {
    font-size: 30px;
    fill: #231500;
    stroke: none; }
  high-low-distribution .text-high-sub {
    font-size: 15px;
    fill: #EDC487;
    stroke: none; }
  high-low-distribution .text-low-sub {
    font-size: 15px;
    fill: #67410A;
    stroke: none; }

precipitation {
  font-family: "Source Code Pro", monospace; }
  precipitation h3 {
    background: #256F5C;
    margin: 0;
    padding: 5px 0 0 10px;
    color: #B0DAD0; }
  precipitation .plot-background {
    fill: #256F5C; }
  precipitation .line {
    fill: none;
    stroke-width: 3.5px; }
  precipitation .observation {
    stroke-width: 1.5px;
    stroke: #B0DAD0; }
  precipitation .dot {
    stroke: #B0DAD0;
    fill: #B0DAD0; }
  precipitation .kde {
    stroke: #589A8A; }
  precipitation .text-main {
    font-size: 30px;
    fill: #B0DAD0;
    stroke: none; }
  precipitation .text-sub {
    font-size: 15px;
    fill: #589A8A;
    stroke: none; }

snowfall {
  font-family: "Source Code Pro", monospace; }
  snowfall h3 {
    background: #2A4D6E;
    margin: 0;
    padding: 5px 0 0 10px;
    color: #B3C7DA; }
  snowfall .plot-background {
    fill: #2A4D6E; }
  snowfall .line {
    fill: none;
    stroke-width: 3.5px; }
  snowfall .observation {
    stroke-width: 1.5px;
    stroke: #B3C7DA; }
  snowfall .dot {
    stroke: #B3C7DA;
    fill: #B3C7DA; }
  snowfall .kde {
    stroke: #5D7C9A; }
  snowfall .text-main {
    font-size: 30px;
    fill: #B3C7DA;
    stroke: none; }
  snowfall .text-sub {
    font-size: 15px;
    fill: #5D7C9A;
    stroke: none; }

snowdepth {
  font-family: "Source Code Pro", monospace; }
  snowdepth h3 {
    background: #333577;
    margin: 0;
    padding: 5px 0 0 10px;
    color: #BBBCDF; }
  snowdepth .plot-background {
    fill: #333577; }
  snowdepth .line {
    fill: none;
    stroke-width: 3.5px; }
  snowdepth .observation {
    stroke-width: 1.5px;
    stroke: #BBBCDF; }
  snowdepth .dot {
    stroke: #BBBCDF;
    fill: #BBBCDF; }
  snowdepth .kde {
    stroke: #696AA6; }
  snowdepth .text-main {
    font-size: 30px;
    fill: #BBBCDF;
    stroke: none; }
  snowdepth .text-sub {
    font-size: 15px;
    fill: #696AA6;
    stroke: none; }
