high-low-distribution {
  $main: $color-1;
  $lighter: $color-1-l;
  $lightest: $color-1-ll;
  $darker: $color-1-d;
  $darkest: $color-1-dd;

  @include plot-base-style($lightest, $lighter, $main, $darker, $darkest);

  .high {
    stroke-width: 1.5px;
    stroke: $lightest;
  }

  .low {
    stroke-width: 1.5px;
    stroke: $darkest;
  }

  .dot-high {
    stroke: $lightest;
    fill: $lightest;
  }

  .dot-low {
    stroke: $darkest;
    fill: $darkest;
  }

  .kde-high {
    stroke: $lighter;
  }

  .kde-low {
    stroke: $darker;
  }

  .text-high-main, {
    font-size: 30px;
    fill: $lightest;
    stroke: none;
  }

  .text-low-main {
    font-size: 30px;
    fill: $darkest;
    stroke: none;
  }

  .text-high-sub, {
    font-size: 15px;
    fill: $lighter;
    stroke: none;
  }

  .text-low-sub {
    font-size: 15px;
    fill: $darker;
    stroke: none;
  }
}
