@mixin plot-base-style($lightest, $lighter, $main, $darker, $darkest) {
  h4 {
    background: $lighter;
    margin: 0;
    padding: 5px 0 5px 10px;
    color: $darkest;
  }

  svg {
    display: block;
  }

  .plot-background {
    fill: $main;
  }

  .line {
    fill: none;
    stroke-width: 3.5px;
  }

  .observation {
    stroke-width: 1.5px;
    stroke: $lightest;
  }

  .dot {
    stroke: $lightest;
    fill: $lightest;
  }

  .kde {
    stroke: $lighter;
  }

  .text-main, {
    font-size: 30px;
    fill: $lightest;
    stroke: none;
  }

  .text-sub, {
    font-size: 15px;
    fill: $lighter;
    stroke: none;
  }
}
